.wrapper-item-add {
  display: flex;
  align-items: center;
  flex: 1 1;
  justify-content: space-between;
}
.container-without-cross {
  display: flex;
  align-items: center;
  flex: 1 1;
}
.img-item-add img {
  height: 48px;
  width: 48px;
}
.wrapper-title-artist-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  align-items: flex-start;
}
.wrapper-title-artist-add h4 {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
}
.subtitle-item-add {
  color: #838486;
  font-size: 12px;
}
