.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 24px 20px 24px;
  font-weight: 300;
}
.home-header {
  padding-top: 48px;
}
.home-header h1 {
  font-size: 26px;
}
.wrapper-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin: 0 24px 0 24px;
}
.icons-home {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
