.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 15px 20px 15px;
  font-weight: 300;
}
.home-heade h1 {
  font-size: 26px;
}
.wrapper-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin: 0 15px 0 15px;
}
.icons-home {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.nav-end {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
