.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
}

.register-conf-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 20px;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 98px;
}

.register-conf-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 17px;
}

.login-email-input {
    width: 100%;
}

.login-pass-input {
    width: 100%;
}

.login-pass-input p {
    width: 320px;
    margin: 12px auto;
    align-self: stretch;
    color: #838486;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.login-pass-input p {
    color: red;
    font-family: Rubik;
    font-size: 12px;
}

.vibrating-animation {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}


.checkbox-span {
    color: #26262E;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.a-span {
    color: #FF8E0A;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.register-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: 5px;
    justify-content: center;
}

.register-checkbox-input-outside {
    width: 22px;
    height: 22px;
    border-radius: 0px 8px;
    border: 3px solid #BFC0C1;
}

.register-checkbox-input-inside {
    appearance: none;
}

.register-checkbox-input-inside::after {
    content: "✔";
    display: flex;
    transition: 0.2s;
    border: none;
    color: transparent;
    font-size: 24px;
    height: 14px;
    width: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px;
}

.register-checkbox-input-inside:checked::after {
    color: green;

}