.match-carousel ul{
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.match-carousel li{
  margin: 24px;
  position: relative;
}
.match-carousel li img{
  width: 100%;
  border-radius: 0 48px;
}

.match-carousel .next-match{
  margin-top: -30%;
  margin-bottom: -65%;
  left: 35%;
  transform: rotate(10.45deg) scale(0.75);
  opacity: 0.5;
  z-index: -10;
  animation: nextmatch 1s;
}
.match-carousel .to-match{
  top: 0;
  left: 0;
  animation: tomatch 1s;
}
.match-carousel .prev-match{
  right: 200%;
  margin-top: -65%;
  margin-bottom: -30%;
}
@keyframes nextmatch{
  0%{
    left: 70%;
    transform: rotate(21deg) scale(0.5);
    opacity: 0;
  }
}
@keyframes tomatch{
  0%{
    top: -10%;
    left: 35%;
    transform: rotate(10.45deg) scale(0.75);
  }
}
.match-carousel div{
  text-align: center;
  margin-top: -32px;
  position: relative;
}
.match-carousel div button{
  border-radius: 50%;
  background-color: #fdfeff;
  color: black;
  box-shadow: 1.77778px 1.77778px 3.55556px 0px rgba(8, 8, 17, 0.08), 0px 0px 5.33333px 0px rgba(8, 8, 17, 0.04);
}
.match-carousel h3{
  margin-top: 24px;
  margin-bottom: 86px;
  text-align: center;
}
