.music-match{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 64px;
  overflow: hidden;
}
.music-match button{
  border-radius: 0 16px 0 16px;
  padding: 12px 16px;
  border: none;
  background-color: #e4e6e8;
  color: #fdfeff;
}
