.container-nav {
  height: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(253, 254, 255) 25%,
    rgb(248, 226, 200) 84.37%,
    rgb(253, 214, 170) 100%
  );
  flex: 1 1;
  z-index: 2;
}
.btn img {
  height: 24px;
  width: 24px;
}
.selected img {
  height: 24px;
  width: 24px;
}
.link-nav {
  text-decoration: none;
  color: black;
}
.selected {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  opacity: 1;
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  opacity: 0.5;
}
.nav-end {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
