.container-nav {
  height: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 142, 10, 0.13) 84.37%,
    rgba(255, 142, 10, 0.22) 100%
  );
  flex: 1 1;
}
.icon img {
  height: 24px;
  width: 24px;
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 12px;
}
.link {
  text-decoration: none;
  color: black;
}
