.orange-button {
    display: flex;
    width: 100%;
    max-width: 320px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 16px;
    background: var(--Primario, #FF8E0A);
    z-index: 1;
    border: none;
    color: var(--Blanco, #FDFEFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: Rubik;
}

.orange-button:disabled {
    background: #E4E6E8;
}