.page-title {
  display: flex;
  align-items: center;
}

.page-title a {
  display: flex;
  align-items: center;
}

.page-title img {
  width: 24px;
  height: 24px;
}

.page-title h2 {
  font-size: 16px;
  font-weight: 500;
  flex-grow: 100;
  text-align: center;
  padding-top: 8px;
}
.page-title span {
  font-size: 12px;
  font-weight: 400;
  flex-grow: 100;
  text-align: center;
  color: #26262e;
}
.page-title div {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}
