.wrapper-playlist-generated {
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
}
.wrapper-icons-pg {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  padding-top: 24px;
}
.row-icons {
  display: flex;
  gap: 8px;
  align-items: center;
}
.row-icons img {
  height: 24px;
  width: 24px;
}
#small-icon1 {
  height: 15px;
  width: 15px;
}
#small-icon2 {
  height: 15px;
  width: 15px;
}
.icon-option {
  height: 24px;
  width: 24px;
}
#btn-play {
  height: 48px;
  width: 48px;
}
.center-covers {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.flex-span {
  display: flex;
  flex: content;
  justify-content: flex-end;
}
.flex-span-start {
  display: flex;
  flex: content;
  justify-content: flex-start;
}
.list-songs-pg {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 8px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.item-pg {
  display: flex;
  flex: 1 1;
}
.main-playlist-wrap {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
}
