.register-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px;
    justify-content: space-between;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
}

.register-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.register-email-input {
    width: 100%;
}

.register-email-input p {
    width: 320px;
    margin: 12px auto;
    align-self: stretch;
    color: #838486;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.register-pass-input {
    width: 100%;
}

.register-span {
    color: var(--medios-tonos-gris-5, #26262E);
    text-align: center;
    font-family: Rubik;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-top: 32px;
}

.invalid-email.invalid-email {
    color: red;
}

.valid-email.valid-email {
    color: green;
}

.message-animation {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}