.trans-button {
    display: flex;
    width: 100%;
    max-width: 320px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 16px;
    color: #26262E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: none;
    font-family: Rubik;
    background-color: transparent;
}

.trans-button-txt {
    text-decoration: none;
}