* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

button, input {
  font-family: "Rubik", sans-serif;
}

.gradient-top {
  background-image: linear-gradient(rgba(255, 142, 10, 0.12) 40px,
      rgba(255, 142, 10, 0.03) 90px,
      rgba(253, 254, 255, 0) 160px);
}

.ani-left-enter {
  animation: leftanimation 0.8s ease-in-out;
}

@keyframes leftanimation {
  0% {
    transform: translateX(-150vw);
  }

  60% {
    transform: translateX(2vw);
  }

  80% {
    transform: translateX(-2vw);
  }
}

.ani-left-exit {
  animation: rightanimation-exit 0.8s ease-in-out;
}

@keyframes rightanimation-exit {
  0% {
    transform: translateX(150vw);
  }

  60% {
    transform: translateX(-2vw);
  }

  80% {
    transform: translateX(2vw);
  }
}

.ani-right-enter {
  animation: rightanimation 0.8s ease-in-out;
}

@keyframes rightanimation {
  0% {
    transform: translateX(150vw);
  }

  60% {
    transform: translateX(-2vw);
  }

  80% {
    transform: translateX(2vw);
  }
}

.ani-right-exit {
  animation: leftanimation-exit 0.8s ease-in-out;
}

@keyframes leftanimation-exit {
  0% {
    transform: translateX(-150vw);
  }

  60% {
    transform: translateX(2vw);
  }

  80% {
    transform: translateX(-2vw);
  }
}

.size-general {
  width: 100%;
  max-width: 320px;
}

.appearence-none {
  text-decoration: none;
}
